#socials {
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 1em;
  gap: var(--size-socials);
  padding: var(--size-socials);
}

#socials img {
  width: var(--size-socials);
}

@media (max-width: 700px) {
  :root {
    --size-socials: 1.9em;
  }
}
